.App {
  text-align: center;
  margin: 50px auto;
  border: 1px solid #000;
  border-radius: 10px;
  width: 750px;
  padding: 20px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
